<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true"
            style="position: relative; height: 400px; overflow-y: scroll">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Team Member</th>
                  <th scope="col">Task</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-normal" *ngFor="let task of taskList ">
                  <th>
                    <img src={{usrTask(task.userId)?.avatar}} class="shadow-1-strong rounded-circle"
                      alt={{usrTask(task.userId)?.name}} style="width: 55px; height: auto;">
                    <span class="ms-2">{{usrTask(task.userId)?.name}}</span>
                  </th>
                  <td class="align-middle">
                    <span>{{task.contentNew}}</span>
                  </td>
                  <td class="align-middle">
                    <span class="status-txt">{{task.status ? 'done!' : '' }}</span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span
                        class={{checkStyle(task.prioId)}}>{{taskPrio(task.prioId)?.priority_name}}</span></h6>
                  </td>
                  <td class="align-middle action-btn">
                    <button data-mdb-toggle="tooltip" title="Done" (click)="stickDone(task.id, task.status)">
                      <i class="fas fa-check text-success me-3"></i></button>
                    <button data-mdb-toggle="tooltip" title="Edit" (click)="handleEdit(task, content)">
                      <i class="fas fa-edit me-3"></i></button>
                    <button data-mdb-toggle="tooltip" title="Remove" (click)="removeTask(task.id)">
                      <i class="fas fa-trash-alt text-danger"></i></button>
                  </td>
                </tr>

              </tbody>
            </table>
            <!-- Button trigger modal -->
          </div>
          <div class="card-footer text-end p-3">

            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Task</button>
            <!-- <button class="btn btn-lg btn-outline-primary">Add Task</button> -->


          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="taskContent"><strong>Task:</strong></label>
        <input [(ngModel)]="dataForm.contentNew" (change)="onChangeContent($event)" name="contentNew" type="text"
          class="form-control" id="taskContent" placeholder="Task Content">

        <span><strong>Priority:</strong></span>
        <div *ngFor="let prio of priorities" (change)="onChangePrio($event)">
          <input type="radio" name="priority" value={{prio.id}} checked />
          <label for="{{prio.id}}">{{prio.priority_name}}</label>
        </div>

        <label><strong>Assign to:</strong></label>
        <select class="form-select" name="userId" (change)="onChangeUserId($event)">
          <option >Select Member</option>
          <option selected class="form-control" *ngFor="let user of users" value={{user.id}}>{{user.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>

</ng-template>

<hr>


<pre>{{ closeResult }}</pre>